<h2>HomePage</h2>
<br>
<a href="/GroupOrSolo/solo">Solo</a>
<a href="/GroupOrSolo/group">Group Play</a>
<br>
<br>

<form action="/GroupOrSolo/solo" method="GET">
    <button type="submit">Solo</button>
</form>

<br>
<br>

<form action="/GroupOrSolo/group" method="'GET">
    <button type="submit">Group</button>
</form>