<header>
  <nav>
    <a href="/">Home</a>
    <ul id="header">
      <li><a href="/classes/barbarian">Barbarian</a></li>
      <li><a href="/classes/druid">Druid</a></li>
      <li><a href="/classes/necromancer">Necromancer</a></li>
      <li><a href="/classes/rogue">Rogue</a></li>
      <li><a href="/classes/sorcerer">Sorcerer</a></li>
    </ul>
  </nav>
</header>